.carousel-container {
	overflow: hidden;

	.carousel-item {
		background-color: rgba(255, 255, 255, 0.071);
		img {
			width: 100vw;
			object-fit: cover;
		}
		.carousel-indicators {
			margin-bottom: 0;
		}
	}
}

.products-list-display {
	height: 82vh;
	display: flex;
	flex-direction: row;
	margin: 1em;
}

@media (min-width: 900px) {
	.carousel-container {
		overflow: hidden;
		.carousel-item {
			text-align: center;

			img {
				height: 85vh;
				width: auto;
			}
		}
	}
}
