.start-page {
	overflow: hidden;
}

.collections {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 60% 40%;
	justify-content: center;
	height: 15vh;
	width: 89vw;
	margin-left: 5%;
	border: 0.5px solid white;
	border-radius: 5px;

	.collection-title {
		text-align: center;
		margin: 5px;
		h1 {
			align-self: center;
			text-shadow: 0px 0px 20px white;
			color: rgb(138, 0, 46);
			margin: 0;
			margin-top: 5px;
		}
	}
	.collection-options {
		display: flex;
	}

	span {
		text-align: center;
		width: 49%;
		margin: 5px;
		box-shadow: 0px 0px 10px 2px white;
		border-radius: 10px;
		cursor: pointer;
		transition: background-color 2s, box-shadow 1s;
		p {
			margin: 0;
			margin-top: 5px;
		}
	}
	.amar-e-cuidar {
		background-color: rgba(255, 192, 203, 0.612);

		&:hover {
			background-color: rgb(255, 192, 203);
			box-shadow: 0px 0px 15px 4px white;
		}

		&:active {
			box-shadow: 0px 0 10px 5px white;
		}
	}
	.essenciais {
		background-color: rgba(173, 216, 230, 0.648);

		&:hover {
			background-color: rgb(173, 216, 230);
			box-shadow: 0px 0px 15px 4px white;
		}
		&:active {
			box-shadow: 0px 0 10px 5px white;
		}
	}
}

.carousel-container {
	overflow: hidden;
	margin-top: 5px;

	.carousel-dark .carousel-indicators [data-bs-target] {
		background-color: #00000092;
		margin-bottom: 0;
	}

	.carousel-item {
		img {
			width: 100vw;
			object-fit: cover;
			margin-top: 2em;
		}
	}
}

@media (min-width: 900px) {
	.start-page {
		height: -webkit-fill-available;
	}
	.collections {
		height: 18%;
	}
	.carousel.slide.carousel-dark {
		height: -webkit-fill-available;
	}
	.carousel-inner {
		height: -webkit-fill-available;
	}
	.carousel-container {
		height: 82%;
		overflow: hidden;
		.carousel-item {
			height: 100%;
			text-align: center;

			img {
				height: auto;
				width: 34%;
				object-fit: contain;
				margin-top: 0.5rem;
				margin-bottom: 0;
			}
		}
	}
	.carousel-indicators {
		margin-bottom: 0;
	}
}
