@import '../../../node_modules/bootstrap/dist/css/bootstrap.min.css';

.background-image {
	background-color: rgb(252, 205, 213);
	height: 100dvh;
	width: 100dvw;
	position: absolute;
	object-fit: cover;
	opacity: 0.75;
}

.app-container {
	height: 100dvh;
	width: 100dvw;
	position: fixed;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10% 85% 5%;
	overflow: hidden;
}

.navbar {
	--bs-navbar-toggler-icon-bg: url('/menu-icon.svg');
	justify-content: space-between;

	.button-toggler {
		margin: 1rem;
		background-color: rgba(190, 190, 190, 0.55);
		box-shadow: 0px 0px 10px 2px rgb(255, 152, 245);
		border-radius: 10%;
		border: 1px solid white;
		transition: background-color 1s, box-shadow 1s;

		&:hover {
			background-color: rgb(255, 204, 252);
			box-shadow: 0px 0px 10px 6px rgb(255, 82, 238);
		}
		&:active {
			background-color: white;
			box-shadow: 0px 0px 15px 7px rgb(255, 0, 183);
		}
	}
	.navbar-toggler-icon {
		padding: 0;
		margin: 0;
		height: 2rem;
		width: 2rem;
		background-color: rgba(250, 250, 250, 0);
	}

	.orquia-logo {
		margin: 1em;
		align-self: center;
		object-fit: cover;
		box-shadow: inset;
	}
}

.offcanvas.offcanvas-start {
	background-color: rgb(255, 228, 252);

	.offcanvas-title {
		color: rgb(216, 59, 164);
	}
	.offcanvas-body {
		.list-group {
			a {
				text-decoration: none;

				&:hover {
					color: rgb(33, 56, 228);
				}
				.span-anchor {
					display: block;
					width: 100%;
					color: rgb(221, 70, 173);
					font-size: 1.2rem;
				}
			}
		}
	}
}

.main-container {
	overflow: hidden;

	&::-webkit-scrollbar {
		display: none;
	}
}

.footer-container {
	position: absolute;
}

@media (max-width: 500px) {
	body {
		overflow: hidden;
	}
	#root {
		overflow: hidden;
	}
	footer {
		display: none;
	}
}
