.products {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.549);
	position: sticky;
	display: flex;
	flex-direction: column;

	ul {
		border-radius: 3%;

		li {
			border-radius: 3%;
			button {
				height: 100%;
				border-radius: 3%;
			}
		}
	}

	.tab-content {
		height: auto;
		overflow: auto;
		&::-webkit-scrollbar {
			display: none;
		}
	}

	.titles {
		font-weight: 600;
		font-size: large;
		text-align: center;
	}

	.product-container {
		flex-basis: 80%;
		display: flex;
		flex-wrap: wrap;
		overflow: auto;
		justify-content: space-evenly;

		&::-webkit-scrollbar {
			display: none;
		}

		p {
			flex-basis: 50%;
			font-size: larger;
			text-align: justify;
			margin: 2rem;
		}

		img {
			flex-basis: 30%;
			height: 70dvh;
			width: 50dvw;
			object-fit: cover;
			margin: 1rem;
		}
	}
}

.accordion {
	height: 100%;
	overflow: auto;
	&::-webkit-scrollbar {
		display: none;
	}
}
.accordion-item {
	background-color: rgba(255, 255, 255, 0);
}

.accordion-body {
	padding: 0;
	overflow: auto;
}
.accordion-collapse.collapse.show {
	background-color: rgba(255, 255, 255, 0);
}

// SHAMPOO&CONDITIONER STYLING
.product-container.green-apple {
	background-color: rgba(186, 253, 186, 0.649);
}

.product-container.cherry {
	background-color: rgba(255, 195, 204, 0.764);
}

// BODY STYLING
.product-container.shower-gel {
	background-color: rgba(176, 233, 252, 0.75);
}
.product-container.body-lotion {
	background-color: rgba(182, 79, 182, 0.607);

	p {
		color: white;
	}
}

// FACE STYLING
.product-container.face-soap {
	background-color: rgba(255, 20, 145, 0.502);
	p {
		color: white;
	}
}
.product-container.face-cream {
	background-color: rgba(255, 192, 203, 0.594);
}
.product-container.face-exfoliante {
	background-color: rgba(0, 234, 144, 0.619);
}

// HANDS&FOOT STYLING
.product-container.hand-cream {
	background-color: rgba(188, 188, 120, 0.69);
}
.product-container.foot-cream {
	background-color: rgba(0, 0, 255, 0.579);
	p {
		color: white;
	}
}

// SERUM STYLING
.product-container.serum-vitaminc {
	background-color: rgba(255, 166, 0, 0.645);
}
.product-container.serum-revitalizing {
	background-color: rgba(33, 33, 255, 0.608);
	p {
		color: white;
	}
}

// OTHER
.product-container.home-spray {
	background-color: rgba(251, 225, 191, 0.622);
}
.product-container.car-air-freshener {
	background-color: rgba(173, 158, 138, 0.671);
}

// for screen SMALLER than 500px
@media (max-width: 500px) {
	.accordion-collapse.collapse.show {
		overflow: auto;
	}
	.products {
		background-color: rgba(255, 255, 255, 0.549);

		.titles {
			font-weight: 400;
			text-align: center;
			font-size: medium;
		}

		.product-container {
			width: 99dvw;
			overflow: auto;

			p {
				flex-basis: 90%;
				margin: 0.5rem;
			}

			img {
				flex-basis: 95%;
				width: 85dvw;
				height: auto;
				object-fit: contain;
				margin: 0.5rem;
			}
		}
	}
}
